body{
   background-color: aquamarine;
}
#list1{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}

#list1 > div{
    align-items: center;
}

p{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


